.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: linear-gradient(to right, #f0e1ce, #e7f6eb);

  }

  .text-vertical{
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: left top;
    font-size: 72px;
    top:58%;
    color: black;
  font-weight: 100;
  font-style: normal;
  -webkit-text-fill-color: #f0e1ce; /* Will override color (regardless of order) */
  -webkit-text-stroke: 1px #71f0c4;
  }
  
  .hero-text {
    max-width: 500px;
    margin-left: 100px;
  }
  
  .hero-text .bold{
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 10px;
    margin: 20px 0 0 0;
  }

  .hero-text .underline{
    border: 2px solid black;  
    width: 250px;
  }


  .hero-text h1 {
    font-size: 48px;
    color: black;
  }
  
  .hero-text .highlight {
    color: #2ea87d;
  }
  
  .hero-text p {
    font-size: 18px;
    margin-top: 10px;
    color: black;
  }

  .hero-text button{
    border-radius: 30px;
    font-size: 24px;
  }


  .hero-image img {
    width: 400px;
    height: auto;
    border-radius: 20px;
  }
  