.card-section {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    max-height: 200px;
  }
  
  .card img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  
  .card h3 {
    color: #2ea87d;
    font-size: 18px;
    position: relative;
    bottom: 200px;
    right: 100px;
  }
  
  .card h2 {
    font-size: 20px;
    color: black;
    position: relative;
    bottom: 200px;
    right: 100px;
  }
  
  .card button {
    background-color: #ffb74d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    bottom: 200px;
    right: 100px;
  }
  
  .card button:hover {
    background-color: #ff9800;
  }
  